.contactus-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background: white;
    padding: 20px;
}
.contactus-leftsection{
    width: 40%;
    padding: 20px;
    text-align: center;
}

.contactus-leftsection h3{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 2rem;
}

.contactus-leftsection span{
    font-weight: bold;
    color: red;
}

.contactus-leftsection p {
    font-size: 16px;
    margin: 5px 0;
}

.contactus-leftsection img {
    width: 100%;
    max-width: 400px;
    margin-top: 10px;
}

.contactus-rightsection {
    width: 60%;
    padding: 20px;
    border-left: 2px solid #ddd;
}

.contactus-rightsection h2 {
    color: red;
    font-size: 20px;
}

.contactus-rightsection p {
    
    font-size: 16px;
    margin-bottom: 15px;
}

form {
    display: flex;
    flex-direction: column;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
}

textarea {
    height: 300px;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 12px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
}

button:hover {
    background-color: #0056b3;
}