@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800;900&display=swap');

html {
    scroll-behavior: smooth; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #ffffff;
    overflow-x: hidden; 
    scroll-behavior: smooth; 
}

.navbar-container {
    position: fixed; 
    top: 20px; 
    left: 20px; 
    right: 20px; 
    z-index: 1000; 
    background: linear-gradient(to right, 
        #E8F6FF 21%,   
        #B0E0FE 65%,  
        #50CCFA 91%,  
        #3AA7CF 100%);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); 
    border-radius: 15px;
    padding: 10px 30px; 
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    list-style-type: none;
    display: flex;
    margin-right: 70px;
    gap: 40px; 
}

.nav-links li a {
    text-decoration: none;
    color: #262626;
    font-size: 17px;
    font-family: 'Abyssinica SIL', serif;
    font-weight: 500;
    transition: color 0.3s ease;
    padding: 5px 8px;
}

.nav-links li a:hover {
    color: #007BFF;
}

.logo {
    display: flex;
    align-items: center;
}

.logo-image {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.ser {
    color: #CF000A;
    font-size: 20px;
    font-weight: bold;
}

.fy {
    color: #4FA3E5;
    font-size: 20px;
    font-weight: bold;
}

.hero {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100vh; 
    background-image: url('../img/home-bg.png'); 
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding: 20px;
}

.hero-text {
    max-width: 800px;
    padding: 20px;
    border-radius: 8px;
    margin-left: 50px; 
    margin-top: 60px;
}

.hero-text h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    line-height: 1.2;
}

.hero-text p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: #323232;
}

.highlight-red { color: #CF000A; font-weight: 900; font-size: 55px; }
.highlight-black { color: #1f1f1f; font-weight: 900; font-size: 55px; }
.highlight-blue { color: #4FA3E5; font-weight: 900; font-size: 55px; }

.btn {
    display: inline-block;
    background-color: #00A1E4;
    color: white;
    padding: 10px 20px;
    font-size: 15px;
    border-radius: 5px;
    font-weight: 600;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #85daff; 
    color: #262626;
}


.about-container {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    padding: 0 50px; 
    gap: 60px;
}

.about {
    height: 100vh; 
    background-color: #ffffff;
    display: flex;
    justify-content: flex-start; 
    align-items: center; 
    padding: 20px;
    text-align: left;
}

.about-text {
    max-width: 800px; 
    padding: 20px;
    margin-top: 0;
    flex: 1.5; 
    text-align: left; 
    margin-right: 30px; 
    margin-top: 100px;
}


.about-text h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    line-height: 1.2;
}

.about-text p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: #323232;
}

.highlight-red1 { color: #CF000A; font-weight: 700; font-size: 28px; }
.highlight-black1 { color: #1f1f1f; font-weight: 700; font-size: 28px; }
.highlight-blue1 { color: #4FA3E5; font-weight: 700; font-size: 28px; }

.about-image {
    flex: 1; 
    text-align: right; 
    margin-top: 100px;
}

.about-image img {
    max-width: 100%; 
    height: auto;
    object-fit: cover;
}

.hamburger {
    display: none;
    flex-direction: column;
    gap: 6px;
    cursor: pointer;
}

.hamburger span {
    width: 20px;
    height: 2px;
    background-color: #333;
    border-radius: 2px;
}